<header class="header">
    <div class="logo"><span>KINJO</span></div>
    <div class="header-item">
      <ul class="header-list">
        <li>CONSEPT</li>
        <li>ITEMS</li>
        <li>HOW TO USE</li>
        <li>NEWS</li>
      </ul>
    </div>
  </header>

  <div class="top-image">
    <%=image_tag "kin.png"%>
    <h3 class="top-image-text">意思あるところに</h3>
    <h2 class="top-image-text2">理想のカラダあり</h2>
  </div>

  <div class="contents">
    <div class="top-masle">
      <div class="left-masle">
    <div class="masle-image">
    <%= image_tag 'danbel.jpg' %>
   </div>
   </div>
   <div class="right-masle">
      <div class="masle-text">
        <h3 class="masle-text1">KINJOの挑戦</h3>
        <h5 class="masle-text2">
          「痩せたい」<br>
          「キレイになりたい」<br>
          だけどダイエットが続かない...<br>
          大丈夫です。私たちkINJOがついています。<br>
          さぁ。理想のカラダを手に入れよう。
        </h5>
      </div>
    </div>
   </div>

    <div class="main">
      <div class="left-main">
      <div class="main-text">
        <h3 class="main-text1">食事制限コース</h3>
        <h5 class="main-text2">
          ダイエットにおいてもっとも大事なのが食事。<br>
          「でもストイックな食事制限はつらい...」<br>
          そんなあなたにはBASIC食事コースがおすすめです。<br>
          プロのインストラクターがあなたにあった<br>
          食事メニューを考えてくれます<br>
        </h5>
        <p class="viewbox">VIEW MORE</p>
      </div>
      </div>
      <div class="main-image">
        <%=image_tag "sarada.jpg" %>
      </div>
    </div>
    
      <div class="second-main">
        <div class="left-second-main">
       <div class="second-main-image">
        <%= image_tag "masle.jpg"%>
      </div>
     </div>
     <div class="right-second-text">
          <div class="item-text">
            <h3 class="second-main-text1">筋力トレーニングコース</h3>
            <h4 class="second-main-text2">￥3,850/1回</h4>
            <p class="second-main-text3">
              オンラインにてマンツーマントレーニングを実施します。<br>
              運動をあまりしたことがない方でも大丈夫。<br>
              経験豊富なプロのインストラクターが<br>
              あなただけのトレーニングメニューを1から作ります。<br>
              トレーニング初心者から上級者まで大変満足度の高い<br>
              コースになっています。今なら1回体験無料中。
            </p>
            <p class="item-btn">詳しくはこちら</p>
        </div>
      </div>
    </div>
  </div>

  <div class="join">
    <div class="join-image">
      <%= image_tag "gym.jpg"%>
      <div class="join-text">
        入会する
      </div>
    </div>
    </div>
  </div>

    <!-- <div class="caracter">
        <div class="member-image">
          <ul class="members">
            <li>
              <img class="member" src="image/IMG_1661.JPG">
              <p>aaa</p>
            </li>

            <li>
              <img class="member" src="image/IMG_1736.PNG">
              <p>aaa</p>
            </li>

            <li>
              <img class="member" src="image/IMG_2053.JPG">
              <p>aaa</p>
            </li>
          </ul>
        </div>
      </div> -->



    <!-- <div class="instagram">
      <div class="instalive">
 
       <h4><a href="https://www.instagram.com/bodymake.club/?hl=ja" >毎週月曜日20:00〜インスタライブ配信！</a></h4>
       <h3 class="instasall">配信中限定キャンペーン商品</h3>
     </div>
     </div> -->